name: run

on:
  schedule:
    - cron: '5 13 * * *' # 9:05AM EST every day

jobs:
  bot:
    runs-on: ubuntu-latest
    env:
      ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
      ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
      CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
      CONSUMER_SECRET: ${{ secrets.CONSUMER_SECRET }}
      BEARER_TOKEN: ${{ secrets.BEARER_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Run MBTA Slow Zone Bot
        run: |
          python3 slowzones.py
